body {
    font-family: "Roboto", sans-serif;
    background-color: #f5f6fa;
    color: #000;
    font-size: 16px;
}
.input-style {
    border: 1px solid #d3d3d3;
    width: 100%;
    padding: 15px 20px;
    margin-bottom: 15px;
    border-radius: 5px;
    &:focus {
        outline: none;
        border: 1px solid #494da1;
    }
}
.error-message {
    color: #df5d4c;
}
.error-input-style {
    border-color: #df5d4c;
}
/*navbar- top*/
.navbar {
    height: 85px;
    background-color: #494da1;
    color: #fff;
    padding: 20px 0;
    border-radius: 0;
    margin-bottom: 0;
    border: none;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
    padding: 10px 0 3px;
    margin: 0 15px 10px;
    border-bottom: 2px solid #494da1;

    &:hover {
        color: #fff;
        border-bottom: 2px solid #fff
    }

    &:focus {
        color: #fff !important;
        background-color: #494da1 !important;
    }
}

.navbar-brand {
    padding: 0;
    display: block;
    background: url('../img/navbar-logo.png') no-repeat center;
    background-size: contain;
    width: 70px;
    height: 40px;
    margin-right: 15px;
}

.navbar-default .navbar-nav > li > .navbar-admin-name {
    &:hover {
        border-color: #494da1;
    }

    &:focus {
        border-color: #494da1;
    }
}

.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;

    &:hover {
        border-top-color: #fff;
        border-bottom-color: #fff;
    }

    &:focus {
        border-top-color: #fff;
        border-bottom-color: #fff;
    }
}

.navbar-default .navbar-nav > .open > a .caret, .navbar-default .navbar-nav > .open > a:hover .caret, .navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #494da1;
}

.navbar-default .navbar-nav > .dropdown > a:hover .caret, .navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #494da1;
}
.dropdown-menu-style {
    min-width: 110px;
    border-radius: 3px;
    border: 1px solid #d3d3d3;
    border-top-left-radius: 3px !important;
    border-top-right-radius: 3px !important;

    &:before, &:after {
        position: absolute;
        pointer-events: none;
        border: solid transparent;
        content: '';
        height: 0;
        width: 0;
        bottom: 100%;
        right: 42px;
    }

    &:before {
        border-width: 6px;
        margin: 0 -6px;
        border-bottom-color: #c5d0db;
    }

    &:after {
        border-width: 5px;
        margin: 0 -5px;
        border-bottom-color: #fff;
    }
}
.dropdown-menu-style > li > a:hover {
    background-color: #d3d3d3;
    color: #000;
    cursor: pointer;
}
.navbar-active-item{
    border-bottom-color: #fff !important;
}