
<form name="$ctrl.employeeForm" novalidate ng-submit="$ctrl.submit()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$ctrl.close()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><span>{{$ctrl.resolve.type}}</span> an employee</h4>
    </div>
    <div class="modal-body">
        <div class="form-group" ng-class="{'has-error': $ctrl.employeeForm.$submitted && $ctrl.employeeForm.name.$invalid}">
            <label>Name</label>
            <input placeholder="Name" class="form-control" ng-model="$ctrl.employee.name" ng-required="true" ng-minlength="2" ng-maxlength="30" name="name" />
            <span class="text-danger" ng-show="$ctrl.employeeForm.$submitted">
                <span ng-show="$ctrl.employeeForm.name.$error.required">Name is required.</span>
                <span ng-show="$ctrl.employeeForm.name.$error.minlength">Minimun length of name is 2.</span>
                <span ng-show="$ctrl.employeeForm.name.$error.maxlength">Maximim length of name is 30.</span>
            </span>
        </div>
        <div class="form-group" ng-class="{'has-error': $ctrl.employeeForm.$submitted && $ctrl.employeeForm.contact.$invalid}">
            <label>Contact information</label>
            <input placeholder="Contact information" class="form-control" ng-model="$ctrl.employee.contactInformation" ng-required="true" ng-maxlength="30" name="contact" />
            <span class="text-danger" ng-show="$ctrl.employeeForm.$submitted">
                <span ng-show="$ctrl.employeeForm.contact.$error.required">Contact information is required.</span>
                <span ng-show="$ctrl.employeeForm.contact.$error.maxlength">Maximim length of contact information is 30.</span>
            </span>
        </div>
        <div class="form-group" ng-class="{'has-error': $ctrl.employeeForm.$submitted && $ctrl.employeeForm.begin.$invalid}">
            <label>Time of beginning</label>
            <input placeholder="Time of beginning" class="form-control" ng-model="$ctrl.employee.timeOfBeginning" ng-required="true" type="number" min="0" max="24" name="begin" />
            <span class="text-danger" ng-show="$ctrl.employeeForm.$submitted">
                <span ng-show="$ctrl.employeeForm.begin.$error.required">Time of beginning working day is required.</span>
                <span ng-show="$ctrl.employeeForm.begin.$error.max">Maximim time working day of beginning information is 24.</span>
                <span ng-show="$ctrl.employeeForm.begin.$error.min">Minimun time working day of beginning information is 0.</span>
            </span>
        </div>
        <div class="form-group" ng-class="{'has-error': $ctrl.employeeForm.$submitted && $ctrl.employeeForm.end.$invalid}">
            <label>Time of ending</label>
            <input placeholder="Time of ending" class="form-control" ng-model="$ctrl.employee.timeOfEnding" type="number" ng-required="true" min="0" max="24" name="end" />
            <span class="text-danger" ng-show="$ctrl.employeeForm.$submitted">
                <span ng-show="$ctrl.employeeForm.end.$error.required">Time of ending working day is required.</span>
                <span ng-show="$ctrl.employeeForm.end.$error.max">Maximim time of ending working day information is 24.</span>
                <span ng-show="$ctrl.employeeForm.end.$error.min">Minimun time of ending working day information is 0.</span>
            </span>
        </div>
        <div class="form-group">
            <label>Gender</label>
            <select class="form-control" ng-options="gender for gender in $ctrl.genders" ng-model="$ctrl.employee.gender"></select>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-disabled="$ctrl.progress"><span ng-show="$ctrl.progress" class="loader"></span>Submit</button>
        <button class="btn btn-default" type="button" ng-click="$ctrl.close()">Close</button>
    </div>
</form>